Package: com.collab.switchermod
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.5
Description: cool improvements for the app switcher
	Drag to reorder, show close buttons by default, make exited apps transparent, show active app
	Maintained by Optimo
Name: SwitcherMod
Depends: firmware (>= 4), mobilesubstrate, preferenceloader (>= 2.1.1)
Author: Optimo and rpetrich <switchermod@forios.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=switchermodData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=switchermodData
dev: optimo
Tag: purpose::extension
