Package: com.rpetrich.switchermod
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.1
Description: Customize the multitasking bar
Name: SwitcherMod
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader (>= 2.0), libactivator
Author: Ryan Petrich <rpetrich@gmail.com>
